@import url('https://fonts.googleapis.com/css?family=Roboto');

.title-text{
    text-align: center;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 4em;
}

.grey-bar-header{
    width: 100;
    border-bottom: 1px solid #999;
    margin-bottom: 10px;
}

.grey-bar-bottom{
    width: 100;
    border-bottom: 1px solid #999;
    margin-top: 5px;
}

.input-container{
    overflow: hidden;
    float: none;
    margin-bottom:20px;
}
.input-container input[type=text] {
    width: 80%;
    padding: 0px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    float: left;
    font-family: 'Roboto';
}
.input-container input[type=button] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    float: left;
    font-family: 'Roboto';
}

.elemento-container{
    width: 100%;
    overflow: hidden;
}

    .elemento{
        overflow: hidden;
        margin: auto;
        background-color:#e2e9e7;
        margin: 0 0 5px;
        padding: 12px 0 12px 12px;
        border-radius: 5px;
    }

    .elemento-done{
        overflow: hidden;
        margin: auto;
        background-color:#b1ffad;
        margin: 0 0 5px;
        padding: 12px 0 12px 12px;
        border-radius: 5px;
    }
        .testo{
            width: 88%;
            float: left;
        }
        .elimina{
            float: left;
            color: red;
            font-weight: bold;
            text-align: center;
        }
        .toggle{
            float: left;
            color: green;
            font-weight: bold;
            text-align: center;
        }

.done{
    text-decoration:line-through;
    font-style: italic;
    color: #555;
}

.actionBar{
    overflow: hidden;
    display: flex;
}
    .actionBar-box{
        width:15%;
        overflow:hidden;
    }
    .space-box{
        width:60%;
        overflow:hidden;
    }

    .actionBar input[type=button] {
        width: 100%;
        margin: 8px 0;
        box-sizing: border-box;
        float: left;
        font-family: 'Roboto';
        font-size: 0.85em;
        font-style:italic;
        color: #888;    
    }
