<p class="title-text">ToDo list</p>
<!-- ToDo INPUT -->
<div class="input-container">
    <input (input)="onChangeTodoTitle(inputField.value);" (keydown.enter)="todoAdd()" type="text" placeholder="Insert ToDo..." [value]="todoTitle"  #inputField>
    <input (click)="todoAdd()" type="button" value="Add ToDo">
</div>
<!-- ToDo LIST -->
<div class="elemento-container" *ngFor="let elem of loadedTodoArray; let i = index;">
    <div [ngClass]="elem.done == true ? 'elemento-done' : 'elemento'">
        <div class="testo"><span [ngClass]="elem.done == true ? 'done' : ''">{{elem.title}}</span></div>
        <div class="toggle" (click)="toggleDone(elem)"><b>T</b></div>
        <div class="elimina" (click)="todoDelete(i)"><b>X</b></div>
    </div>
</div>
<!-- ToDo ACTION BAR -->
<div class="actionBar">
    <input type="button" value="Clear All" (click)="todoDeleteAll()"> <input type="button" value="All" (click)="changeView('all')">  <input type="button" value="Done" (click)="changeView(true)">  <input type="button" value="Not done" (click)="changeView(false)">
</div>