@import url('https://fonts.googleapis.com/css?family=Roboto');

.title-text{
    text-align: center;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 4em;
}

.input-container{
    overflow: hidden;
    float: none;
}
input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    float: left;
    font-family: 'Roboto';
}
input[type=button] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    float: left;
    font-family: 'Roboto';
}

.elemento-container{
    width: 600px;
    overflow: hidden;
}

    .elemento{
        height: 65px;
        overflow: hidden;
        margin: auto;
        height: 20px;
        background-color:aliceblue;
        margin: 5px 0 10px;
        padding: 12px;
        overflow: hidden;
    }

    .elemento-done{
        height: 65px;
        overflow: hidden;
        margin: auto;
        height: 20px;
        background-color:#b1ffad;
        margin: 5px 0 10px;
        padding: 12px;
    }
        .testo{
            width: 90%;
            float: left;
        }
        .elimina{
            width: 5%;
            float: left;
            color: red;
            font-weight: bold;
            text-align: center;
        }
        .toggle{
            width: 5%;
            float: left;
            color: green;
            font-weight: bold;
            text-align: center;
        }

.done{
    text-decoration:line-through;
    font-style: italic;
    color: #555;
}

.actionBar{
    padding: 12px 20px 12px 20px;
    background-color:#1aa37a;
    overflow: hidden;
}
    .actionBar input[type=button]{
        margin: 0 5px 0 5px;
    }